.login .navbar.navbar-expand-lg.navbar-light.bg-light {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 2em 0;
}

.login .form{
    border: 2px solid #8eb5bf;;
    padding: 20px;
    display: grid;
    place-items: center;
    border-radius: 10px;
}

.login .form h2{
    text-align: center;
    margin-bottom: 2rem;
    color: #8eb5bf;
    font-weight: 900;
    font-family: 'Montserrat', sans-serif;
}

.login .form input[type="email"],
.login .form input[type="password"] {
   width: 50%;
   padding: 10px;
   border-radius: 50px;
   border: 2px solid #8eb5bf;
   padding-left: 30px;  
}

.login .form input[type="email"],
.login .form input[type="password"]:focus{ 
    outline: none;
}


.login .btn-submit{
    width: 50%;
    background-color: #8eb5bf;
    border: none;
    padding: 10px;
    border-radius: 50px;
    color: white;
    font-weight: 900;
    font-family: 'Montserrat', sans-serif;
}

.login .btn-submit:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}